section {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  section {
    border-right: 3px solid #000;
  }
}

section:last-child {
  border-right: none;
}

.main-content {
  border-top: 3px solid #000;
  display: flex;
  flex: 1;
}

.title {
  /* background-color: #FFA5DB; */
  flex: 0;
  padding: 50px;
}

.ingredients {
  /* background-color: #FFE0A5; */
  flex-shrink: 1;
  flex-grow: 0;
  padding: 25px 30px;
}

@media only screen and (max-width: 767px) {
  .ingredients {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.step {
  border-bottom: 3px solid #000;
  /* flex: 1; */
  padding: 10px 15px;
}

.step:last-child {
  border-bottom: none;
}

.step-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .step-header.step-header {
    cursor: pointer;
  }
}

.step-header .toggler {
  margin-left: 20px;
  width: 30px;
  text-align: right;
}

.step-header .toggler::before {
  content: '+';
}

.step-header .toggler {
  display: none;
}

@media only screen and (min-width: 768px) {
  .step-header .toggler {
    display: block;
  }

  .step-header .toggler.hidden::before {
    content: '';
  }

  .step-content.hidden {
    display: none;
  }
}

.step-1 {
  /* background-color: #D7FFA5; */
}

.step-2 {
  /* background-color: #A5FAFF; */
}

.step-3 {
  /* background-color: #A5AEFF; */
}

.step-4 {
  /* background-color: #FDFFA5; */
}

.step-5 {
  /* background-color: #A5FFD4; */
}

.banner {
  /* background-color: #FFFFFF; */
  /* height: 40px; */
  width: 100%;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .main-content {
    flex-direction: column;
  }
}
